<!-- 投稿・編集に成功した時のメッセージ-->
<% if flash[:notice] %>
<p style="color: green"><%= flash[:notice] %></p>
<% end %> 

<!-- 投稿に失敗した時のエラーメッセージ -->
<% if @book.errors.any? %>
<h2><%= @book.errors.count %>error</h2>
<% @book.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ユーザー情報 -->
      <h2 class="pt-3">User info</h2>
      <!--アソシエーションを利用-->
      <!--選んだ本のユーザー情報を表示-->
      <%= attachment_image_tag @book_detail.user, :profile_image, size:'100x100', fallback: "no_image.jpg", format: 'jpeg' %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @book_detail.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book_detail.user.introduction %></th>
        </tr>
      </table>
      <!-- ログイン中のユーザー以外が編集できないようにするために強制的にログイン中のユーザーの詳細画面へ -->
      <% if @book_detail.user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
      <div class="btn btn-outline-dark btn-sm btn-block">
        <i class="fas fa-user-cog "></i>
      </div>
      <% end %>
      <% else %>
      <%= link_to edit_user_path(current_user) do %>
      <div class="btn btn-outline-dark btn-sm btn-block">
        <i class="fas fa-user-cog "></i>
      </div>
      <% end %>
      <% end %>


      <!--新しい本を投稿-->
      <h2 class="pt-3">New book</h2>
      <%= form_with model:@book, local:true do |f| %>
      <p>Title</p>
      <%= f.text_field :title, class: 'form-control' %>
      <p>Opinion</p>
      <%= f.text_area :body, class: 'form-control' %><br>
      <%= f.submit 'Create Book', class: 'btn btn-success' %>
      <% end %>
    </div>

    <div class="col-md-8">
      <!-- 選択した本の詳細-->
      <h2 class="pt-3">Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= attachment_image_tag @book_detail.user, :profile_image, size:'40x40', fallback: "no_image.jpg", format: 'jpeg' %><br>
            <!-- アソシエーションでuserテーブルにアクセスし,nameを取得 -->
            <%= link_to @book_detail.user.name, user_path(@book_detail.user.id) %>
          </td>
          <td><%= @book_detail.title %></td>
          <td><%= @book_detail.body %></td>
          <!-- ログイン中のユーザーの本だったときだけ表示 -->
          <% if @book_detail.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book_detail) %></td>
          <td><%= link_to 'Destroy', book_path(@book_detail), method: :delete, data:{confirm: '本当に消しますか？'} %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>






